@model List<Slider>

@foreach (Slider slider in Model)
{
    <div class="single-slide item" style="background-image: url(../img/slider/@slider.Image)">
        <!-- Start Slider Content -->
        <div class="slider-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="slide-content-wrapper">
                            <div class="slide-content text-center">
                                <h2>@slider.Title </h2>
                                <p>@slider.Description </p>
                                <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Slider Content -->
    </div>
}