@model Event

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Update Event</h5>

            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3 form-group">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Location" class="form-label">Location</label>
                        <input asp-for="Location" type="text" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="CreatedTime" class="form-label">Created Time</label>
                        <input type="date" asp-for="CreatedTime" class="form-control" />
                        <span asp-validation-for="CreatedTime" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="StartTime" class="form-label">Start Time</label>
                        <input type="time" asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="EndTime" class="form-label">End Time</label>
                        <input type="time" asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="EventDetail.Description" class="form-label">Description</label>
                        <textarea id="editor" asp-for="EventDetail.Description" class="form-control"></textarea>
                        <span asp-validation-for="EventDetail.Description" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}